<mat-toolbar color="primary">
  <mat-toolbar-row>
    
    <span class="example-spacer">délicieuse</span>
    <div style="margin-top: 16px; margin-right: 20%;">
      <mat-form-field class="example-form-field" appearance="legacy" style="height: 80% !important; width: 150%;">
        <mat-label>Search Restaurants</mat-label>
        <input matInput class="form-control" [(ngModel)]="userQuestion" 
        type="text" name="userQuestion" id="userQuestions"
        (ngModelChange)="this.userQuestionUpdate.next($event)">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="5">
      <div>
      <mat-form-field class="example-chip-list" appearance="fill" >
        <mat-label>Favorite Cuisines</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let cuisine of cuisines"
            (removed)="remove(cuisine)">
            {{cuisine}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Try South Indian..."
            #fruitInput
            [formControl]="cuisineCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let cuisine of filteredCuisine | async" [value]="cuisine">
            {{cuisine}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="1">
      <div class="container text-right">
        <mat-form-field appearance="fill">
          <mat-label>Sort by</mat-label>
          <mat-select (selectionChange)="fetchHotels()" [(ngModel)]="sortCondition">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let item of states | keyvalue" value="{{item.key}}">{{item.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile [colspan]="5" [rowspan]="4">
      <mat-card class="example-card" style="width: 35%;" *ngFor="let item of hotels">
        <mat-card-title-group>
          <mat-card-title>{{item.info.name}}</mat-card-title>
          <mat-card-subtitle>{{item.info.rating.rating_text}}
            <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          </mat-card-subtitle>
          <img mat-card-sm-image src={{item.info.image.url}} >
        </mat-card-title-group>
        <mat-card-content>
          <mat-chip-list
          class="example-chip"
          cdkDropList 
          cdkDropListOrientation="horizontal">
          <mat-chip
            class="example-box"
            cdkDrag
            *ngFor="let cuisine of item.info.cuisine"
            style="padding: 4px;
            font-size: 70%;">
            {{cuisine.name}}
          </mat-chip>
        </mat-chip-list>
          <p>
            {{item.info.locality.address}}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>